@using RandomGuess.Models

@{
    // Use a ternary operator and dynamic runtime checking to see if ViewData["level"] is a valid DifficultyLevel.
    DifficultyLevel level =
        ViewData["Level"] is DifficultyLevel difficultyLevel
            ? difficultyLevel
            : throw new InvalidOperationException("The 'Level' is not correctly set");

    string title = level switch
    {
        DifficultyLevel.Easy => "Easy Level",
        DifficultyLevel.Medium => "Medium Level",
        DifficultyLevel.Hard => "Hard Level",
        _ => "Unknown Level"
    };

    string range = level switch
    {
        DifficultyLevel.Easy => "1 and 10",
        DifficultyLevel.Medium => "1 and 100",
        DifficultyLevel.Hard => "1 and 1000",
        _ => "an unknown range"
    };

    ViewData["Title"] = title;
}

<div class="text-center">
    <h1 class="display-4">Welcome to the @title.</h1>
    <p>I want you to guess the number between @range</p>

    <form asp-controller="Home" asp-action="Answer">
        <input type="hidden" name="level" value="@level">
        <input type="number" name="guess">
        <input type="submit" value="Submit Answer">
    </form>

    <h3>@TempData["Message"]</h3>
    <h3>@TempData["Help"]</h3>
</div>